.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px 20px;
    min-height: 300px;
}
.blockBtnCreate {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}