.navMenu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.navMenu li {
    margin-right: 30px;
}
.navMenu a {
    color: #61DAFB;
    font-size: 20px;
    font-weight: bold;
}
a.selected {
    color: #e91e63;
}
@media (max-width: 776px) {
    .navMenu li {
        margin-right: 20px;
    }
    .navMenu a {
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    .navMenu a {
        font-size: 12px;
    }
}