.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_name {
    color: #61DAFB;
    margin-right: 20px;
}
.footer_phone {
    color: #e91e63;
}
@media (max-width: 500px) {
    .footer_wrap {
        flex-direction: column;
    }
}